!!!
%html
  %head
    %title Lumberjack - Cut down those URLs
    %link{type: 'text/css',
	      rel: 'stylesheet',
	      href: 'css/style.css'}
    %link{type: 'text/javascript',
	      src: 'js/modernizr.js'}


  %body
    = yield

  %link{type: 'text/javascript',
        src: 'js/jquery-1.8.3.min.js'}
  %link{type: 'text/javascript',
        src: 'js/jquery.defaultvalue.js'}
  %link{type: 'text/javascript',
        src: 'js/site.js'}